priority 1

########
# TODO #
########
snippet todo "TODO comment"
-- TODO(istarnion): $0
endsnippet

snippet note "NOTE comment"
-- NOTE(istarnion): $0
endsnippet

snippet fixme "FIXME comment"
-- FIXME(istarnion): $0
endsnippet

